[Unit]
Description=AppName
Requires=network.target

[Service]
Type=simple
User=rails
WorkingDirectory=/home/rails/ubuntu.xade.eu/api
ExecStart=/bin/bash -lc 'bundle exec puma -e production -C config/puma/production.rb'
TimeoutSec=60s
RestartSec=30s
Restart=always

[Install]
WantedBy=multi-user.target