[Unit]
Description=Puma
Requires=network.target

[Service]
EnvironmentFile=/home/rails/env
Type=simple
User=rails
WorkingDirectory=/home/rails/ubuntu.xade.eu/api
ExecStart=/home/rails/.rbenv/bin/rbenv exec bundle exec puma -C config/puma/production.rb config.ru start
ExecStop=/home/rails/.rbenv/bin/rbenv exec bundle exec pumactl -S /tmp/puma.state stop
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target


TimeoutSec=60s
RestartSec=30s
Restart=always

[Install]
WantedBy=multi-user.target